<app-game-bg></app-game-bg>
<div class='full-page connect-container'>
    <a href="https://github.com/Nick-the-BinaryTree"
        rel="noopener noreferrer"
        target="_blank">
        <img alt='GitHub link' src='../../assets/outline-laptop-24px.svg'/>
    </a>
    <a href="https://medium.com/@nick.hartunian"
        rel="noopener noreferrer"
        target="_blank">
        <img alt='Medium link' src='../../assets/outline-book-24px.svg'/>
    </a>
    <a href="https://www.linkedin.com/in/nicholashartunian/"
        rel="noopener noreferrer"
        target="_blank">
        <img alt='LinkedIn link' src='../../assets/outline-work-24px.svg'/>
    </a>
</div>