h2 {
    font-size: 36px;

    animation: fadeInAndUp 4s forwards;
}

p {
    font-size: 20px;

    animation: fadeInAndUp 4s forwards;
    animation-delay: 1s;
}

.bio-page-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio-page-bg-overlay, .bio-page-container {
    background-color: #000;
}

.bio-text-container {
    position: absolute;
    left: 44px;
    top: 20px;

    line-height: 30px;
    max-width: 500px;
}

.bio-text-element {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin: 12px;
    opacity: 0;
    padding: 12px;
    transform: translateY(36px);
}

/* Camel case forced by Angular syntax in template */
.imgFetched {
    animation: fadeOut 6s forwards;
    animation-delay: 6s;
}

.picture-credits {
    position: absolute;
    bottom: 0px;
    right: 8px;

    color: #fff;
    font-size: 10px;
    opacity: 0;

    animation: fadeInAndUp 4s forwards;
    animation-delay: 6s;
}

@media (max-width: 800px) {
    .bio-text-container {
        left: 4%;    
        max-width: 72%;
    }
}

@keyframes fadeInAndUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}