<div class="bio-page-container full-page">
  <img
    alt="Background image"
    class="bio-page-bg full-page"
    (load)="onBgLoad()"
    [ngClass]="{bgLoaded: bgLoaded}"
    [src]="bgURL" />
  <p class="picture-credits">
    {{photographerCredits}}
  </p>
  <div
    alt="Background image"
    class="bio-page-bg-overlay full-page"
    [ngClass]="{overlayFadeOut: bgLoaded}">
</div>
  <div class="bio-text-container">
    <h2 class="bio-text-element">About Me</h2>
    <p class="bio-text-element">
      Hi, I'm Nick. I study computer science at the University of Connecticut.
      <br>
      I currently intern at Google and previously worked for Facebook, UConn, Catapult Marketing, and MediaCrossing (a digital advertising startup).
      <br>
      I like Model UN and most books.
    </p>
  </div>
</div>
