<div class="bio-page-container full-page">
  <img
    alt="Background image"
    class="bio-page-bg full-page"
    (load)="onBgLoad()"
    [ngClass]="{bgLoaded: bgLoaded}"
    [src]="bgURL" />
  <div
    alt="Background image"
    class="bio-page-bg-overlay full-page"
    [ngClass]="{overlayFadeOut: bgLoaded}">
</div>
<p 
    class="picture-credits"
    [ngClass]="{fadeInPhotoCredits: bgLoaded}"
    [style.display]="bgLoaded ? 'block' : 'none'">
    Photography by
    <a [href]='photographerURL'>{{photographerName}}</a>
    on
    <a href="https://unsplash.com">Unsplash</a>
  </p>
  <div class="bio-text-container">
    <h2 class="bio-text-element">About Me</h2>
    <p class="bio-text-element">
      Hi, I'm Nick, a software engineer at Google.
      <br><br>
      I graduated <i>summa cum laude</i> from the University of Connecticut with a B.S. in computer science and minor in math.
      I interned at Facebook, Google, UConn, Catapult Marketing, and MediaCrossing (a digital advertising startup).
      <br><br>
      Hobbies include finance, literature, and writing.
    </p>
  </div>
</div>
