<div 
  class="bio-page-container full-page"
  [style.background-image]="'url(' + bgURL + ')'"
  #bioPageContainer>
  <div class="bio-text-container">
    <h2 class="bio-text-element">About Me</h2>
    <p class="bio-text-element">
      Hi, I'm Nick. I study computer science at the University of Connecticut.
      <br>
      I currently intern at Google and previously worked for Facebook, UConn, Catapult Marketing, and MediaCrossing (a digital advertising startup).
      <br>
      I like Model UN and most books.
    </p>
  </div>
  <p class="picture-credits">{{photographerCredits}}</p>
</div>
