a {
    color: white;
    text-decoration: inherit;
}

h2 {
    font-size: 36px;

    animation: fadeInAndUp 4s forwards;
}

p {
    font-size: 20px;

    animation: fadeInAndUp 4s forwards;
    animation-delay: 1s;
}

.bio-page-bg {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio-page-bg-overlay, .bio-page-container {
    background-color: #000;
}

.bio-text-container {
    position: absolute;
    left: 44px;
    top: 20px;

    line-height: 30px;
    max-width: 500px;
}

.bio-text-element {
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin: 12px;
    opacity: 0;
    padding: 12px;
    transform: translateY(36px);
}

/* Camel case forced by Angular syntax in template */
.bgLoaded {
    display: block;
}

.fadeInPhotoCredits {
    animation: fadeInAndUp 6s forwards;
    animation-delay: 8s;
}

.overlayFadeOut {
    animation: fadeOut 6s forwards;
    animation-delay: 4s;
}

.picture-credits {
    position: absolute;
    bottom: 0px;
    right: 8px;

    color: #fff;
    font-size: 10px;

    opacity: 0;
    z-index: 2;
}

@media (max-width: 800px) {
    h2 {
        font-size: 24px;
    }
    
    p {
        font-size: 14px;
    }

    .bio-text-container {
        left: 4%;    
        max-width: 72%;
    }
}

@keyframes fadeInAndUp {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}