h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 35%;

    color: white;
    font-size: 5em;
    font-weight: 100;
    text-align: center;

    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}